apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-deployment
  labels:
    app: node
spec:
  replicas: 3
  selector:
    matchLabels:
      app: node
  template:
    metadata:
      labels:
        app: node
    spec:
      containers:
      - name: node
        image: aditya115/fe:v4
        ports:
        - containerPort: 3000
---

apiVersion: v1
kind: Service
metadata:
  name: my-service
spec:
  selector:
     app: node
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
#      NodePort: 33060
  type: NodePort



#change in demo

