name: Docker Image CI

on:
  push:
    branches:
      - "**"
    tags:
      - "v*.*.*"
    
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v2
    # - name: Docker meta
    #   id: meta
    #   uses: docker/metadata-action@v5
    #   with:
    #       # list of Docker images to use as base name for tags
    #     images: |
    #       aditya115/node-app           
    #       # generate Docker tags based on the following events/attributes
    #     tags: |
    #       type=schedule
    #       type=ref,event=branch
    #       type=ref,event=pr
    #       type=semver,pattern={{version}}
    #       type=semver,pattern={{major}}.{{minor}}
    #       type=semver,pattern={{major}}
    #       type=sha   
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - name: Build and push
      uses: docker/build-push-action@v4
      with:
       context: .
       push: true
       tags: ${{ secrets.DOCKERHUB_USERNAME }}/node-app:${{ github.sha }} ,${{ secrets.DOCKERHUB_USERNAME }}/node-app:latest
    - name: checking
      run: |
        pwd 
    # - name: Update Image Tag Values
    #   run: |
    #     chart_dir="helm"
    #     new_image_tag=${{ github.sha }}

    #     # Update the values.yaml file with the new image tag
    #     sed -i "s/^  tag: .*/  tag: $new_image_tag/" "$chart_dir/values.yaml"
    - name: Commit the changes made
      run: | 
        git clone https://github.com/Adityac115/helm-charts.git
        git config --global user.name 'Adityac115'
        git config --global user.email 'adityakushwahaiffco@gmail.com'
        cd helm-charts
        git remote -v
